---
import MainLayout from "@/layouts/MainLayout.astro";
import { trpc } from "@/utils";

const data = await trpc.example.greeting.query({ name: "TRPC Astro" });
---

<MainLayout>
  <div>{data}</div>
</MainLayout>
